

services:
  mysql:
    image: mysql:8
    container_name: convive-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: convive_db
      MYSQL_USER: convive
      MYSQL_PASSWORD: convive123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: convive-app
    depends_on:
      - mysql
    ports:
      - "8080:8080"
    restart: always

volumes:
  mysql_data:
