spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: classpath:keys/public.pem
  datasource:
    url: jdbc:mysql://localhost:3306/convive_db
    username: convive
    password: convive123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 8080

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
