
spring:
  datasource:
    url: jdbc:mysql://mysql:3306/convive_db
    username: convive
    password: convive123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 8080
